<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block body %}
<br><br>
<div class="content">
    <table>
        {% for i in fields %}
           <a> {{ i }}</a>
           <!--{% if fields[i]==pionki[1] %}
               <img src="static/images/p1.jpg" height="10px" width="10px">
           {% elif fields[i]==pionki[4] %}
               <img src="static/images/p2.jpg" height="10px" width="10px">
           {% else %}
               <a>&nbsp;&nbsp;&nbsp;</a> 
           {% endif %}-->
        {% endfor %}
        <br><br>
    </table>
    <form action="/game/p6" method="POST">
        <input type="submit" value="Next Field 2" id="btn_add" />
    </form>
</div>
{% endblock %}
</body>
</html>