{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>Warhinczyk</title>
    {% endblock %}
</head>
<body>
{% block body %}
<br><br>
<div class="content">
    <h4>Player 1 score: {{P1score}}</h4>
    <h4>Player 2 score: {{P2score}}</h4>
    <br><br>
    <table>
        {% for i in fields %}
            <a>&nbsp;&nbsp;&nbsp;</a> 
        {% endfor %}
        <br><br>
    </table>
    <form action="/gameAI/p1" method="POST">
        <input type="submit" value="Choose and play 1 as P1" id="btn_add" />
    </form>
    <form action="/gameAI/p2" method="POST">
        <input type="submit" value="Choose and play 2 as P1" id="btn_add" />
    </form>
    <form action="/gameAI/p3" method="POST">
        <input type="submit" value="Choose and play 3 as P1" id="btn_add" />
    </form>
</div>
{% endblock %}
</body>
</html>