{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block body %}
<br><br>
<div class="content">
    <h4>Player 1 score: {{P1score}}</h4>
    <h4>Player 2 score: {{P2score}}</h4>
    <br><br>
    <table>
        {% for i in fields %}
           <!--<a> {{ i }}</a>-->
           {% if i==pionki[1] %}
               <a><img src="{{ url_for('static', filename='images/p1.jpg') }}" height="20px" width="20px"></a>
           {% elif i==pionki[4] %}
               <a><img src="{{ url_for('static', filename='images/p2.jpg') }}" height="20px" width="20px"></a>
           {% else %}
               <a>&nbsp;&nbsp;&nbsp;</a> 
           {% endif %}
        {% endfor %}
        <br>
        <a>Number of fields: {{ now }}</a>
        <br>
    </table>
    <form action="/gameAI/p4" method="POST">
        <button id="click" type="submit"></button>
        <script>
            const button = document.getElementById('click');
            function autoClick() {
              button.click();
            }
            setTimeout(autoClick, 1000);
        </script>
    </form>
</div>
{% endblock %}
</body>
</html>