{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block body %}
<br><br>
<div class="content">
    <h4>Player 1 score: {{P1score}}</h4>
    <h4>Player 2 score: {{P2score}}</h4>
    <br><br>
    <table>
        {% for i in fields %}
           <a>&nbsp;&nbsp;&nbsp;</a>
           <!--{% if fields[i]==pionki[1] %}
               <img src="static/images/p1.jpg" height="10px" width="10px">
           {% elif fields[i]==pionki[4] %}
               <img src="static/images/p2.jpg" height="10px" width="10px">
           {% else %}
               <a>&nbsp;&nbsp;&nbsp;</a> 
           {% endif %}-->
        {% endfor %}
        <br><br>
    </table>
    <form action="/gameAI/p4" method="POST">
        <button id="click1" type="submit"></button>
    </form>
    <form action="/gameAI/p5" method="POST">
        <button id="click2" type="submit"></button>
    </form>
    <form action="/gameAI/p6" method="POST">
        <button id="click3" type="submit"></button>
    </form>
    <script>
        choice=Math.floor(Math.random() * 3) + 1;
        if (choice==1){
            const button = document.getElementById('click1');
            function autoClick() {
              button.click();
            }
            setTimeout(autoClick, 1000);
        }
        else if (choice==2){
            const button = document.getElementById('click2');
            function autoClick() {
              button.click();
            }
            setTimeout(autoClick, 1000);
        }
        else {
            const button = document.getElementById('click3');
            function autoClick() {
              button.click();
            }
            setTimeout(autoClick, 1000);
        }
    </script>
</div>
{% endblock %}
</body>
</html>